/* Overwrites for the top-bar */

.top-bar .name {
  height: 45px;
  margin: 0;
  font-size: 16px;
}
.top-bar .name span {
  line-height: 45px;
  font-size: 1.0625rem;
  margin: 0;
}
.top-bar .name span a {
  font-weight: normal;
  color: white;
  width: 50%;
  display: inline;
  padding: 0 15px;
}

/* ************************** */

#top-slot {
    margin: 16px auto;
}

h1, h2, h3, h4, h5 {
    border-bottom: 1px solid #d4d4d4;
    font-family: 'bebas', arial, sans-serif;
}

h1 {
    font-size: 3em;
}

.active_menu {
    border-bottom: 4px solid #d61f26;
}

.search {
    margin-top: 16px;
}

/* Images */

.img-left {
    float: left;
    margin: 8px 8px 8px 0;
}

.img-right {
    float: right;
    margin: 8px 0 8px 8px;
}

/* Forms */

legend {
    font-family: bebas, arial, sans-serif;
    font-size: 2.2em;
}


/* Category lists */

.image-wrapper {
    display: inline-block;
    position: relative;
}

.image-wrapper:hover {
    cursor: pointer;
}

.image-wrapper:hover .image-text {
    background: rgba(214,31,38,1);
    text-decoration:  underline;
}

.image-text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 7px 2px 7px;
    text-transform:  uppercase;
    background: rgba(214,31,38,0.75);
    color: #ffffff;
    font-family: 'opensans',arial, sans-serif;
    font-weight: normal;
}

/* *************** */

/* Council images */

.person {
    margin-bottom: 16px;
    text-align: center;
}

.person div {
    display: inline-block;
    margin: 8px;
    text-align: center;
    vertical-align: top;
}

.person img {
    border-radius: 50%;
    border: 8px solid #d61f26;
}

.person ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

.person li.name {
    font-weight: bold;
}

.person li.position {
    text-transform: uppercase;
    font-size: 0.8em;
}

.person li.company {
    font-size: 0.8em;
}

.person li.email {
    font-size: 0.8em;
}

/* ****************** */
