/* Overwrites for the top-bar */

.top-bar .name {
  height: 45px;
  margin: 0;
  font-size: 16px;
}
.top-bar .name span {
  line-height: 45px;
  font-size: 1.0625rem;
  margin: 0;
}
.top-bar .name span a {
  font-weight: normal;
  color: white;
  width: 50%;
  display: inline;
  padding: 0 15px;
}

.f-topbar-fixed {
    padding-top: 45px !important;
}

.activedeeper > a {
    background: #d61f26 !important;
}

.activedeeper > a:after {
    border-color: rgba(255, 255, 255, 1) transparent transparent transparent !important;
}

/* ************************** */

#top-slot {
    margin: 16px auto;
}


h1, h2, h4, h5 {
    border-bottom: 1px solid #d4d4d4;
    font-family: 'texgyrebonum', arial, sans-serif;
    color: #000000;
}

h1 {
    font-size: 2em;
    letter-spacing: -1px;
}

h2 {
    font-size: 1.6em;
    letter-spacing: -1px;
}

h3 {
    font-size: 1em;
}

.top-bar a:hover,
a.button,
a.button {
    border: none !important;
}

a:hover {
    border-bottom: 1px solid #d61f26;
}

fieldset {
    border-radius: 3px;
    background: #f1f1f1;
}

.dialog {
    font-size: 90%;
    font-weight: bold;
}

.panel .button,
.panel p {
    margin-bottom: 0;
}

.panel .spacer {
    height: 30px;
    margin-bottom: 30px;
}

.noPanel {
    margin-bottom: 16px;
}

.active_menu {
    border-bottom: 4px solid #d61f26;
}

.search {
    margin-top: 16px;
}

/* Images */

.img-left {
    float: left;
    margin: 8px 8px 8px 0;
}

.img-right {
    float: right;
    margin: 8px 0 8px 8px;
}

/* Forms */

legend {
    font-family: 'texgyrebonum', arial, sans-serif;
    font-size: 2.2em;
}

/* Icons */

div.icons {
    margin-bottom: 10px;
    position: relative;
}

.icons i {
    margin-right: 2px;
    font-size: 3em;
    color: #2e3092;
}

.icons a {
    color: #222222;
    display: inline-block;
}

.icons a:hover {
    border: none;
}

.icons a span {
    color: #d61f26;
}

.icons a:hover span {
    color: #B81B26;
    text-decoration:  underline;
}

.icons a:hover i {
    color:  #d61f26;
}

.icons a i {
    vertical-align:  middle;
}

/* Seminar page icons */

.icons span.text {
    position: absolute;
    bottom: 15px;
    left: 40px;
}

.icons span.text.withCompany {
    position: absolute;
    bottom: 24px;
}

.icons span.company {
    font-size: 0.8rem;
    position: absolute;
    bottom: 8px;
    left: 40px;
}

.icons i.author {
    color: #808080;
}

.icons i.author.primary {
    color: #303030;
}

/* Category lists */

.image-wrapper {
    display: inline-block;
    position: relative;
}

.image-wrapper:hover {
    cursor: pointer;
}

.image-wrapper:hover .image-text {
    background: rgba(214,31,38,1);
    text-decoration:  underline;
}

.image-text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 7px 2px 7px;
    text-transform:  uppercase;
    background: rgba(214,31,38,0.75);
    color: #ffffff;
    font-family: 'opensans',arial, sans-serif;
    font-weight: normal;
}

/* *************** */

/* Council images */

.person {
    margin-bottom: 16px;
    text-align: center;
}

.person div {
    display: inline-block;
    margin: 8px;
    text-align: center;
    vertical-align: top;
}

.article .person img {
    border-radius: 50%;
    border: 8px solid #d61f26;
}

.person ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

.person li.name {
    font-weight: bold;
}

.person li.position {
    text-transform: uppercase;
    font-size: 0.8em;
}

.person li.company {
    font-size: 0.8em;
}

.person li.email {
    font-size: 0.8em;
}

.person li.role {
    font-size: 0.8em;
    font-style: italic;
}
/* ****************** */

/* Video */

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 16px 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper.vimeo {
	padding-bottom: 54.5%
}

/* ***************** */

/* Category list */

ul.category {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
}

ul.category li {

}

ul.category h3,
div.cat-children h3,
.inq-links h3 {
    background: #f1f1f1;
    border-radius: 3px;
    border: 1px solid #dddddd;
    padding: 16px;
}

/* ***************** */

/* Article */

.article img {
    border-radius: 10px;
}

/* ***************** */

/* UU Ultimate User Specific Overrides */

/*#uu-wrap input {

}*/

#uu-wrap {
    min-width: 0 !important;
    min-height: 0 !important;
}

#uu-wrap .row {
    margin-bottom: 12px;
}

#uu-wrap .form-label {
    margin-bottom: 5px !important;
    text-align: left !important;
    width: auto !important;
}

#uu-wrap .form-field {
    margin: 0 !important;
}

#uu-wrap input[type="text"],
#uu-wrap input[type="password"],
#uu-wrap select  {
    border-radius: 0px !important;
    height: 2.3125rem !important;
    width: 100% !important;
}

#uu-wrap .button {
    font-size: 0.8rem;
    padding: 8px 16px !important;
}

.form-field span {
    color: #555;
    display: block;
    margin-top: -8px;
    font-size: 0.86rem;
}

.jsPasswordStrength {
    border-radius: 4px;
    padding: 8px !important;
    font-size: 0.8rem;
    position: absolute;
    top: 12px;
    right: 5px;
}

.jsPasswordStrength_1 {
    background: #F70D1A !important;
    color: white !important;
}

.jsPasswordStrength_2 {
    background: #FF7F50 !important;
}

.jsPasswordStrength_3 {
    background: #4E9258 !important;
    color: white !important;
}

.jsPasswordStrength_4 {
    background: #6AA121 !important;
    color: white !important;
}

.jsPasswordStrength_5 {
    background: #4AA02C !important;
    color: white !important;
}

#uu-wrap .form-helper {
    font-size: 0.8rem !important;
}

/* ***************** */

/* Dropfiles */

.dropfiles-content .downloadlink,
.dropfiles-content .openlink {
    border-radius: 3px;
    border-width: 0px;
    background-color: #d61f26;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    color: #ffffff;
}

.dropfiles-content .downloadlink:hover,
.dropfiles-content .openlink:hover {
    background: #ab191e;
}

.inquire-notes {
    font-style: italic;
}

.inquire-notes.has-files {
    margin-bottom: 16px;
}

@media only screen and (max-width: 40.063em) {

    .dropfiles-content .ext {
        display: none;
    }

    .dropfiles-content.dropfiles-content-default .filecontent {
        margin-left: 0;
    }

    .dropfiles-content .openlink {
        display: none;
    }

}

/* ***************** */

/* Footer */

.inq-footer {
    margin-top: 32px;
    background: #2D3192;
    text-align: center;
}

.inq-footer ul.nav.menu li.parent {
    display: inline-block;
    margin-right: 40px;
    margin-top: 24px;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}

.inq-footer ul.nav.menu li.alias-parent-active > a {
    border-bottom: 2px solid #d61f26;
}

.inq-footer ul.nav.menu li.active > a {
    border-bottom: 1px solid #d61f26;
}

.inq-footer ul.nav.menu li.parent ul {
    margin-top: 16px;
    list-style-type: none;
    margin-left: 0;
    font-weight: normal;
}

.inq-footer ul.nav.menu li.active.parent a,
.inq-footer ul.nav.menu li.alias-parent-active.parent a {
    color: #fff;
    font-size: 13px;
}

.inq-footer ul.nav.menu li.parent a {
    color: #ccc;
    font-size: 13px;
}

.inq-divide {
    border: solid #4D70B8;
    border-width: 1px 0 0;
}

.inq-copyright {
    font-size: 13px;
    color: #fff;
    height: 100px;
}

.inq-copyright a {
    color: #fff;
}

.inq-copyright .row {
    margin-bottom: 20px;
}
/* ****** */

/* Search Results */

.search-results {
    margin-bottom: 0;
}

.inq-result {
    padding: 8px 16px 8px 16px;
    margin: 16px 0;
    background: #f1f1f1;
    border-radius: 3px;
    border: 1px solid #dddddd;
}

.result-created {
    font-size: 12px;
    color: #454545;
    margin-bottom: 0;
    margin-top: 8px;
}


.pagination-list a {
    display: inline-block;
    background: #d61f26;
    color: #fff;
    border-radius: 3px;
    padding: 6px 6px;
    margin-right: 3px;
    min-width: 32px;
    text-align: center;
}

.pagination-list span {
    display: inline-block;
    background: #2D3192;
    color: #fff;
    border-radius: 3px;
    padding: 6px 6px;
    margin-right: 3px;
    min-width: 32px;
    text-align: center;
}

.pagination-list a:hover {
    border: none;
}


/* ****** */
