/* Overwrites for the top-bar */

.top-bar .name {
  height: 45px;
  margin: 0;
  font-size: 16px;
}
.top-bar .name span {
  line-height: 45px;
  font-size: 1.0625rem;
  margin: 0;
}
.top-bar .name span a {
  font-weight: normal;
  color: white;
  width: 50%;
  display: inline;
  padding: 0 15px;
}

/* ************************** */

#top-slot {
    margin: 16px auto;
}

h1, h2, h3, h4, h5 {
    border-bottom: 1px solid #d4d4d4;
    font-family: 'bebas', arial, sans-serif;
}
